APScheduler==3.5.3
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
boto3==1.9.6
botocore==1.12.6
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
coverage==5.0a2
cryptography==2.3.1
cycler==0.10.0
docutils==0.14
flake8==3.5.0
flake8-polyfill==1.0.2
Flask==1.0.2
idna==2.7
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
kiwisolver==1.0.1
lxml==4.2.5
mando==0.6.4
MarkupSafe==1.0
matplotlib==3.0.0
mccabe==0.6.1
more-itertools==4.3.0
ndg-httpsclient==0.5.1
numpy==1.15.1
pandas==0.23.4
pluggy==0.7.1
py==1.6.0
pyasn1==0.4.4
pycodestyle==2.4.0
pycparser==2.19
pyflakes==2.0.0
pyOpenSSL==18.0.0
pyparsing==2.2.1
pytest==3.8.0
pytest-cov==2.6.0
pytest-flask==0.12.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==5.4
Quandl==3.4.2
radon==2.2.0
redis==2.10.6
requests==2.19.1
requests-cache==0.4.13
requests-file==1.4.3
requests-ftp==0.3.1
s3transfer==0.1.13
scipy==1.1.0
six==1.11.0
tzlocal==2.0.0b1
urllib3==1.23
weather-api==1.0.4
Werkzeug==0.14.1
wrapt==1.10.11
